<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio - UX UI - Avery</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../lib/hover/hover.min.css" rel="stylesheet">

  <!-- Blog Stylesheet File -->
  <link href="../css/blog.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="../css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../images/favicon.png">

  <!-- Hotjar Tracking Code for https://thaisavelino.github.io/ux-ui-portfolio -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 1851858, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>


</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav-subpage" class="subpage-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="../index.html"><img src="../images/logo.jpg" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="../index.html#header" class="smoothScroll">Home</a></li>
          <li><a href="../index.html#about" class="smoothScroll">About</a></li>
          <li><a href="../index.html#entrepreneurship" class="smoothScroll">Entrepreneurship</a></li>
          <li><a href="../index.html#portfolio" class="smoothScroll">Portfolio</a></li>
          <li><a href="../index.html#coding" class="smoothScroll">Coding</a></li>
          <li><a href="../index.html#volunteer" class="smoothScroll">Extra</a></li>
          <li><a href="../index.html#resume" class="smoothScroll">Resume</a></li>
          <li><a href="../index.html#contact" class="smoothScroll">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End section navbar -->
  <!-- start section main content -->
  <div class="main-content paddsection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="row">
            <div class="container-main single-main">
              <div class="col-md-12">
                <div class="block-main mb-30">
                  <img class="blog-img-full" src="../images/agri/agri1.png" class="img-responsive" alt="reviews2">
                  <div class="content-main single-post padDiv">
                    <div class="journal-txt">
                      <h1>Music Festival and Agricultural Products Promotion</h1>

                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li class="author">by:<a href="#">Avery Chen</a></li>
                          <li class="date">date:<a href="#">Aug. 2017 - Oct. 2018</a></li>
                          <li class="commont"><i class="ion-ios-heart-outline"></i><a href="#">Graphic Design, Package
                              Design, Interior Design, Photoshop, Illustrator, AutoCAD</a></li>
                        </ul>
                      </div>
                      <blockquote>
                        This project is about launching the 2017 Agricultural Harvest Feast – Good Eat Party after
                        seeing how villages are declining, young people are migrating outward, and the elderlies are
                        dying alone. The intention was to draw in crowds through events and bring people back to their
                        hometowns. In this project, I created an online platform with promotion activities for farmers.
                        By persuading the government and cooperating with local farmers, local bio-products were all
                        sold out. Farmers not only received numerous orders but also profited millions from my online
                        platform.
                      </blockquote>

                      <h2 class="mb-30">Design Background</h2>
                      <p>Urban dwellers are eager to experience nature in the countryside and pursue organic living.
                        Farmers in Changhua make some unique choices in planting crops that yield premium quality
                        produce. Unfortunately, there is no visibility due to poor packaging and lack of marketing. Our
                        role was to bridge the gap between urban and rural areas and create a marriage between the two. 
                      </p>

                      <h2 class="mb-30">Survey</h2>
                      <p>I spent two months interviewing people who are agricultural workers. 50% of them are restaurant
                        owners, 30% are sales of agricultural products, and 20% are agricultural producers. 
                      </p>

                      <img class="blog-img-full mb-30" src="../images/agri/agri10.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/agri/agri9.png" class="img-responsive"
                        alt="reviews2">

                      <h2 class="mb-30">Design Intent</h2>
                      <p>A music concert / market / buffet event that allows visitors to appreciate nature's beauty.
                        Vendors are limited to local growers or suppliers of agricultural products. All the food and
                        goods on sale are sourced locally.
                      </p>

                      <h2 class="mb-30">Main Visual (Visual Elements)</h2>
                      <p>Simplistic styles and color blocks convey a fresh and natural feel. The main visual features of
                        landscapes in Changhua: rice paddies, farm produce, and farmers' day-to-day activities.
                        Everything compliments the theme and creates visual clarity.
                      </p>

                      <iframe class="col-md-12 mb-30" height="440px" src="https://www.youtube.com/embed/PwsMr5sNZFc"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                      <h2 class="mb-30">Main visual combined with marketing</h2>
                      <p>Performing singers and e-commerce put up posters in the physical stores. Photos of the event's
                        main visual are placed on websites or Facebook pages. 
                        <br>
                        We hope that such visualization will make a strong impression on the public, who will sense the
                        scale and significance of the event.
                        <br>
                        I assist participating stores in repacking their products, including copywriting and visual
                        design, and take commercial photographs of the merchandise displayed at the event. 
                      </p>

                      <img class="blog-img-full mb-30" src="../images/agri/agri2.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/agri/agri3.png" class="img-responsive"
                        alt="reviews2">

                      <h2 class="mb-30">Funding</h2>
                      <p>While we looked for sponsors to make up for the funding shortage, we also wanted to reciprocate
                        the generosity of others. We do so by giving free tickets to the Good Eat Party event to any
                        sponsor whose contribution reaches a certain amount. The buffet was held in the middle of a rice
                        paddy. The local farmers provided all the food and decorated the venue, featuring distinct
                        oriental bamboos and indigenous florals in Changhua.
                      </p>

                      <img class="blog-img-full mb-30" src="../images/agri/agri4.png" class="img-responsive"
                        alt="reviews2">

                      <h2 class="mb-30">Layout</h2>
                      <p>Preparation began roughly a month before the event, involving clearing the land, laying down
                        the grass, installing standalone lighting, providing electricity, transporting pieces of pallets
                        and sacks of chaffs. For visitors to experience the authentic farming way of life, every seat
                        and visible element was sourced from the farmland. There were plenty of IG moments (green floral
                        wall) and a kiddy area (padded with cleaned straws). 
                      </p>

                      <img class="blog-img-full mb-30" src="../images/agri/agri5.png" class="img-responsive"
                        alt="reviews2">

                      <p>You can see the results videos and news about us below:</p>
                      <iframe class="col-md-12 mb-30" height="440px" src="https://www.youtube.com/embed/Pt6d0D_Jwb0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                      <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=Pt6d0D_Jwb0" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe> -->

                      <h2 class="mb-30">Transportation and Partnership</h2>
                      <p>Being a farming area, Changhua has a high density of usable land. That said, we had to study
                        the nearby car park, traffic routes, etc., in addition to event programming. We also went out of
                        our way to partner with Uber to create a promotion code for event participants.
                      </p>

                      <img class="blog-img-full mb-30" src="../images/agri/agri6.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/agri/agri7.png" class="img-responsive"
                        alt="reviews2">

                      <h2 class="mb-30">Result and Reception</h2>
                      <p>The influx of visitors was exceptional, and it was a very successful event that sold all the
                        merchandise. I am confident in Changhua's farm produce. In a highly connected world, people who
                        have tried the merchandise can make future purchases online.
                      </p>

                      <img class="blog-img-full mb-30" src="../images/agri/agri8.png" class="img-responsive"
                        alt="reviews2">

                      <p>You can see the results videos and news about us below:</p>
                      <iframe class="col-md-12 mb-30" height="440px" src="https://www.youtube.com/embed/dm2Lclz9aIE"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                      <iframe class="col-md-12 mb-30" height="440px" src="https://www.youtube.com/embed/QuliSaCWrAY"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>

                      <!-- <iframe width="560" height="315" src="https://www.youtube.com/watch?v=dm2Lclz9aIE" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe> -->

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div> -->
  <!-- start section main content -->

  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://github.com/averychen1223"><i class="ion-social-github"></i></a></li>
        </ul>

      </div>


    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/typed/typed.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>