<!DOCTYPE html>
<html lang="en">

<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio - UX UI - Avery</title>
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="../lib/magnific-popup/magnific-popup.css" rel="stylesheet">
  <link href="../lib/hover/hover.min.css" rel="stylesheet">

  <!-- Blog Stylesheet File -->
  <link href="../css/blog.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="../css/style.css" rel="stylesheet">

  <!-- Responsive css -->
  <link href="../css/responsive.css" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" href="../images/favicon.png">
  <!-- Hotjar Tracking Code for https://thaisavelino.github.io/ux-ui-portfolio -->
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
      h._hjSettings = { hjid: 1851858, hjsv: 6 };
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script'); r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
  </script>
</head>

<body>

  <!-- start section navbar -->
  <nav id="main-nav-subpage" class="subpage-nav">
    <div class="row">
      <div class="container">

        <div class="logo">
          <a href="../index.html"><img src="../images/logo.jpg" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
          <li><a href="../index.html#header" class="smoothScroll">Home</a></li>
          <li><a href="../index.html#about" class="smoothScroll">About</a></li>
          <li><a href="../index.html#entrepreneurship" class="smoothScroll">Entrepreneurship</a></li>
          <li><a href="../index.html#portfolio" class="smoothScroll">Portfolio</a></li>
          <li><a href="../index.html#coding" class="smoothScroll">Coding</a></li>
          <li><a href="../index.html#volunteer" class="smoothScroll">Extra</a></li>
          <li><a href="../index.html#resume" class="smoothScroll">Resume</a></li>
          <li><a href="../index.html#contact" class="smoothScroll">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End section navbar -->
  <!-- start section main content -->
  <div class="main-content paddsection">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
          <div class="row">
            <div class="container-main single-main">
              <div class="col-md-12">
                <div class="block-main mb-30">
                  <div class="content-main single-post padDiv">
                    <div class="journal-txt">
                      <img class="blog-img-full" src="../images/face/face_logo.jpg" class="img-responsive"
                        alt="CarnaRio app Login Screen">
                      <h1>Avatar Design </h1>
                      <div class="post-meta">
                        <ul class="list-unstyled mb-0">
                          <li class="author">by:<a href="#">Avery Chen</a></li>
                          <li class="date">date:<a href="#">February, 2020 - Present</a></li>
                          <li class="commont"><i class="ion-ios-heart-outline"></i><a href="#"> Computer Graphics,
                              Graphic Design, Procreate, Photoshop </li>
                        </ul>
                      </div>
                      <br>
                      <blockquote>
                        This project is about clients can choose their color tone and brightness, facial expression, and
                        camera angle for profile pictures. They can use their own photos or take new ones on their phone
                        or draw abstract diagrams. The final product will be a unique, one-of-a-kind avatar picture.
                      </blockquote>

                      <h2 class="mb-30">Entrepreneurial Background</h2>
                      <p>Looking at the ways influencers worldwide are dedicated to the communities they run, they care
                        about their personal brand and attributes. This makes me want to start designing avatar sticker
                        photos. A sticker photo conveys the personal style and tells many stories. The chosen colors
                        also reflect the owner's taste.

                        I enjoy hand sketches much more than computer-drawn images, and it was very much like the Middle
                        Ages when it was enjoyable for people to get their portraits made. With such oil and watercolor
                        paintings becoming a rare form of expression, they are also becoming harder to come by and more
                        attractive. 
                      </p>

                      <img class="blog-img-full mb-30" src="../images/face/face10.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face2.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face3.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face4.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face5.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face6.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face7.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face8.png" class="img-responsive"
                        alt="reviews2">

                      <img class="blog-img-full mb-30" src="../images/face/face9.png" class="img-responsive"
                        alt="reviews2">

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  </div> -->
  <!-- start section main content -->

  <!-- start section footer -->
  <div id="footer" class="text-center">
    <div class="container">
      <div class="socials-media text-center">

        <ul class="list-unstyled">
          <li><a href="https://github.com/averychen1223"><i class="ion-social-github"></i></a></li>
        </ul>

      </div>


    </div>
  </div>
  <!-- End section footer -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/typed/typed.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>

  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>